
body{
    font-size:15px;
}

section.topbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background:rgb(255,0,0);
    padding:17px 10px;
    
}
.sticky{
    position:fixed;
    width:100%;
    z-index:1;
    top:0;
    left:0;
    background: white;
}
section.topbar .logo>svg{
    width:44.375vw;
   height: 7.8125vw; 
   vertical-align: top;
}
section.topbar > a {
    color:white;
    display:inline-block;
    font-size: 4.6875vw;
    padding:1.5625vw 3.4375vw;
    line-height: 6.25vw;
    position: relative;
}
section.topbar >a::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:200%;
    height:200%;
    border:1px solid white;
    border-radius:15.625vw;
    transform-origin:0 0;
    transform: scale(0.5);
}
.noCollapse::before{
    content:'';
    display: table;
}
.noCollapse::after{
    content:'';
    display: table;
}
section.playlists{
    
}
section.playlists::before{
    
}
.sectionTitle{
    border-left:2px solid #D43C33;
    font-size:17px;
    line-height: 1;
    padding-left:8px;
    margin: 20px 0 8px;
}
section.swiper{
    position: relative;
    bottom:0.2vw;
}

.swiper-container {
    width: 100vw;
    height: 45.8vw;
}

.swiper-container img{
    width: 100vw;
    height: 45.8vw;
}

section.playlists > ol.songs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;
}
section.playlists > ol.songs>li{
    width: 32.7%;
    margin: 8px 0;
}
section.playlists > ol.songs>li p{
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 18px;
    height: 36px;
    padding: 0 6px;
}
section.playlists >ol.songs>li img{
    width:100%;
}

section.songs{}
section.songs .list{
    margin-top:18px;
}
section.songs > .list >li >h3{
    font-size: 17px;
    
}
section.songs >.list > li >p{
    font-size: 12px;
    color:#888;
}
section.songs > .list .playButton{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
section.songs > .list .icon-play{
    width:22px;
    height: 22px;
    vertical-align: middle;
    fill:#AAA;
}
section.songs > .list > li{
   position: relative;
   margin-left: 10px;
   padding-bottom: 6px;
   padding-top:5px;
   border-bottom:1px solid #e2e2e2;
}
section.art{
    background: transparent url(//i.loli.net/2018/08/19/5b791f0cb6962.png
    ) no-repeat center;
    padding-top: 38px;
    text-align: center;
    padding-bottom: 18px;
    background-size:cover;
}
section.art svg{
    width:230px;
    height: 44px;
}
section.art .link-wrapper >a {
    display: inline-block;
    border:1px solid;
    line-height: 40px;
    font-size:16px;
    padding: 0 19px;
    border-radius:20px;
    color:#D43C33;
    margin-top: 10px;
    margin-bottom:5px;
}

.tabs{
  
    display: flex;
    border-bottom: 1px solid #cccccc;
}
.tabs >li{
    width:33.333333%;
    text-align: center;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.tab-content{
    margin-top: 105px;
}
.tabs >li>.text{
    padding:10px 5px;
    position: relative;
    
    top:1px;
    
}
.tabs >li.active>.text{
    color: #D43C33;
    position: relative;
    padding:10px 0;
}
.tabs >li.active>.text::after{
    content:'';
    position:absolute;
    height: 2px;
    background: #D43C33;
    bottom: 1px;
    left:0;
    width: 100%;
}
.tab-content >li.active{
    
    display: block;
}
.tab-content >li{
    display: none;
}

section.art .copyright{
    font-size: 12px;
    color:#888;
}