.page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background:transparent url(//i.loli.net/2018/08/28/5b855ded57bda.jpg) no-repeat center;
  background-size: cover;
}
.disc-container{
    position: relative;
}
.disc-container .pointer{
    width:24vw;
    position: absolute;
    border:1px solid red;
    left: 50%;
    
}
.disc-container .disc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:14vw;
}
.disc-container .ring{
    width:72vw;
}
.disc-container .light{
    width:72vw;
    position: absolute;
}
.disc-container .cover{
    width: 60vw;
    position: absolute;
    display: none;
}
.song-description{

}
.page > .links{

}